<div class="container">
  <h3 class="d-flex justify-content-center">anonymous-instagram</h3>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark justify-content-center">
    <ul class="navbar-nav justify-content-center">
      <!--
      <li class="nav-item">
          <button routerLink="compose"
          class="m-1 btn btn-light btn-outline-primary" Button>New Post</button>
      </li>-->
      <li class="nav-item">
        <button routerLink="timeline"
        class="m-1 btn btn-light btn-outline-primary justify-content-center" Button>Time Line</button>
    </li>

    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>