<div>

    <div class="ml-3 bd-highlight" >
      <label for="photodir">Photo</label>
      <input type="file" 
      (change) = "uploadPhoto($event)" class="mt-2">
      <img style="max-width: 100%" src = {{PhotoFilePath}}>
      Preview
    </div>
    <div class="form-group">
      <label for="photodesc">Description</label>
      <input [(ngModel)]="post.Caption" name="graph_caption"
      type="text" class="form-control" id="photodesc1" placeholder="Description">
    </div>

    <button (click) = "addPost()" *ngIf="post.PostID == 0" class="btn btn-primary">Submit</button>
    <button (click) = "updatePost()" *ngIf="post.PostID != 0"  class="btn btn-primary">Submit</button>

</div>